DB_URL=YOUR_DB_URL
DB_USERNAME=YOUR_DB_USERNAME
DB_PASSWORD=YOUR_DB_PASSWORD

DDL_AUTO=validate
SHOW_SQL=false

SERVER_PORT=8080

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=YOUR_GMAIL
MAIL_PASSWORD=YOUR_GOOGLE_APP_PASSWORD
TEST_RECIPIENT_EMAIL=YOUR_TEST_EMAIL

CLOUDINARY_CLOUD_NAME=YOUR_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_API_KEY
CLOUDINARY_API_SECRET=YOUR_API_SECRET
